<h1 class="text-2xl dark:text-white">Dashboard</h1>

<div
  class="
    grid
    sm:grid-cols
    md:grid-cols-2
    lg:grid-cols-3
    xl:grid-cols-4
    mt-4
    gap-4
  "
>
  <app-card>
    <span title class="text-3xl">Movies</span>
    <div body>
      <p class="m-2">See information about movies we have :)</p>
      <a class="float-right" routerLink="/movies">See all movies</a>
    </div>
  </app-card>
  <!-- <app-card>
    <span #title class="text-3xl">Actors</span>
    <div #body>
      <p class="m-2">Who is the actors?!</p>
      <a class="float-right" routerLink="/actors">See all actors</a>
    </div>
  </app-card> -->
</div>
